body {
  background: #efeaee;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  display: block;
  margin: 0 auto;
  width: 250px;
  border-radius: 0.5em;
  padding: 10px 10px;
  outline: none;
  font-weight: 600;
  border: 1px solid grey;
}

button {
  display: block;
  margin: 0 auto;
  background: #204ef8;
  color: white;
  font-weight: 600;
  margin-top: 25px;
  border-radius: 0.5em;
  border: none;
  outline: none;
  padding: 10px 20px;
}

button:hover {
  cursor: pointer;
}
